<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <display-name>demo web app</display-name>
    <description>Basic java webapp</description>

    <servlet>
        <servlet-name>primitive-servlet</servlet-name>
        <servlet-class>org.dmace.demo.web.servlet.PrimitiveServlet</servlet-class>

        <init-param>
            <param-name>message</param-name>
            <param-value>Hello from web.xml file</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>hello-servlet</servlet-name>
        <servlet-class>org.dmace.demo.web.servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contact-servlet</servlet-name>
        <servlet-class>org.dmace.demo.web.servlet.contact.ContactServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>primitive-servlet</servlet-name>
        <url-pattern>/data</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>hello-servlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>contact-servlet</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/includes/taglibs.jsp</include-prelude>
            <!-- taglibs.jsp will automatically be included in all jsps :) -->
        </jsp-property-group>
    </jsp-config>
</web-app>